/* requires bootstrap css */

.modal-open {
    overflow: auto !important;
}

.border_dot {
    border: 1px dashed #ccc;
}

/* #dragable_modal {
    position: relative;
    position: absolute;
    z-index: 1000;

} */


/* .modal-dialog .ui-draggable-dragging {
    
   position: absolute;
} */


/* #dragable_modal  */
.modal-dialog {
   /*  position: absolute !important;*/
    position: fixed;  
    z-index: 105;
    max-width: 100%; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: var(--bs-tertiary-bg);
    min-width:400px;
    margin: 0;
    resize: both;
}

/* #dragable_modal  */
.modal-content {
    overflow: hidden;
    resize: both;
    min-width:400px;
    min-height: 400px;
    max-height: 90vh;
    max-width: 60vw;
}

/* #dragable_modal  */
.modal-body {
    height: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

/* #dragable_modal  */
.modal-header {
    background: var(--bs-dark);
    color: var(--bs-tertiary-bg);
    border-bottom: 0px;
    padding: 0px;
}

/* #dragable_modal  */
.modal-header h3 {
    color: var(--bs-tertiary-bg);
    font-size: 18px;
}

.modal-header .close {
    background-color: rgb(0, 0, 0);
    padding: 0px 0 0 0px ;
    margin: -1px;
}

/* #dragable_modal  */
.close_btn {
    /* top: -2px; */
    /* margin: 0px !important; */
    opacity: 1;
    width: 30px;
    height: 30px;
    padding: 0px;
    color: #fff;
}

.custom_tab_on_editor {
    background: var(--bs-primary-text-emphasis);
    padding: 0px;
    margin: 0px;
}

.custom_tab_on_editor .nav-item {
    margin-bottom: 0px;
}

.custom_tab_on_editor .nav-item .nav-link {
    min-width: 100px;
    text-align: center;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 10px;
    color: var(--bs-tertiary-bg);
}

.custom_tab_on_editor .nav-item .nav-link:hover {
    color: #ffffff;
    border-width: 0px;
    background: var(--bs-link-hover-color);
    border-bottom: 0px solid transparent;
}

.custom_tab_on_editor .nav-item.show .nav-link,
.custom_tab_on_editor .nav-link.active {
    color: var(--bs-tertiary-bg);
    border-width: 0px;
    background: var(--bs-primary);
    border-bottom: 0px solid transparent;
    position: relative;
}

.dragable_touch {
    cursor: move;
}

.custom_tab_on_editor .nav-item.show .nav-link:before,
.custom_tab_on_editor .nav-link.active:before {
    content: "";
    border-bottom: 10px solid var(--bs-tertiary-bg);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

/* custom keywordsContainer */

#keywordsContainer{ 
    /* max-height: 60vh; */
}